.page {
  padding: 2em;
  text-align: center;

  img {
    width: 100%;
    max-height: 700px;
    max-width: 500px;
    margin: 0 auto;

    &.logo {
      max-width: 300px;
    }
  }

  img.mock-reset {
    max-width: 100%;
    width: unset;
  }

  .link>.ant-typography {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.25);
    display: inline-block;
  }

  .content-container {
    padding: 10% 5%;
  }

  .landing {
    padding: 6em 0;
  }
}